* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

menu, section {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.header {
  margin-top: 50px;
}
.header button {
  outline: none;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top ul {
  display: flex;
  gap: 5px;
}
.header__top ul a {
  padding: 10px;
  color: #263238;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
.header__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  background-color: #E5E5E5;
  color: black;
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}
.header__main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__main-left h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
}
.header__main-left p {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #8F95A5;
}
.header__main button {
  border: none;
  margin-top: 33px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  background-color: #263238;
  color: white;
  border-radius: 5px;
  padding-top: 22px;
  padding-right: 70px;
  padding-bottom: 22px;
  padding-left: 70px;
}
.header__main .lampa {
  position: absolute;
  top: 250px;
  left: 400px;
}

.footer-holder .footer-holder__row {
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: #C4C4C4;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
}
.footer__list {
  display: flex;
  align-items: center;
}
.footer__link {
  color: #8F95A5;
  margin-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 7px;
}

.skills__title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: #263238;
  margin-bottom: 90px;
}
.skills__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 20px;
  margin-bottom: 282px;
}
.skills__grid-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 80px;
}
.skills__grid-text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #263238;
}
.skills__grid-section {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.skills__grid-section:first-child {
  padding-top: 50px;
  grid-column: 1/2;
  grid-row: 1/4;
}
.skills__grid-section:first-child img {
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.skills__grid-section:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
}
.skills__grid-section:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/3;
}
.skills__grid-section:last-child {
  grid-column: 2/4;
  display: flex;
}
.skills__grid-btn {
  background-color: #263238;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
}

@media screen and (min-width: 320px) {
  .skills__grid {
    display: block;
  }
  .skills__grid-section {
    display: block;
    margin: 0 auto 15px auto;
  }
  .skills__grid-section:last-child {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 576px) {
  .skills__grid {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .skills__grid-section {
    display: block;
    margin: 0 auto 15px auto;
  }
  .skills__grid-section:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .skills__grid-section:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .skills__grid-section:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .skills__grid-section:last-child {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 768px) {
  .skills__grid {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }
  .skills__grid-section {
    margin: 0 auto 15px auto;
  }
  .skills__grid-section:first-child {
    grid-column: 1/2;
    grid-row: 1/6;
  }
  .skills__grid-section:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/4;
  }
  .skills__grid-section:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/4;
  }
  .skills__grid-section:last-child {
    grid-column: 2/4;
    grid-row: 4/6;
    flex-direction: row;
  }
  .skills__grid-section-box {
    width: 50%;
  }
}/*# sourceMappingURL=main.css.map */